<div>
<nav class="navbar navbar-dark bg-dark collapse">
  <div class="container-fluid">
    <h2> Restaurants Station </h2>
    <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <li class="nav-item">
        <a  aria-current="page" routerLink="fpage">Stores</a>
      </li>
      <li class="nav-item">
        <a  aria-current="page" routerLink="form">Add New Store</a>
      </li>
    </div>
  </div>
   
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>

