<form>
    <div class="form-group">
      <label for="name">Store name</label>
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
    </div>
    <div class="form-group">
      <label for="cuisines">cuisines</label>
      <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
    </div>
    <div class="form-group">
      <label for="Distance">Distance</label>
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
    </div>
    <div class="form-group">
      <label for="DeliveryTime">Delivery Time</label>
      <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
    </div>
    <div class="form-group">
    <input type="file" ng-model="store.image">
  </div>
  <div class="form-group">
      <button type="button" class="btn btn-light" routerLink="form">Click to add store</button>
    </div>
  </form>
