.filterr{
    margin: 80px;
    margin-top: 30px;
    border: 50px solid rgb(255, 255, 255);
    background-color: white;

 /* border-color: rgb(255, 255, 255);
  border-spacing: 15px;
  width: 150px;
  */
   
    
    
}
.input{
margin: 20px;}