<div class="filterr">
    
<section filter="condition" class="mb-4 ">
    <h6 class="font-weight-bold mb-3">Cuisines</h6>

    <div class="form-check pl-0 mb-3">
      <input
        type="checkbox"
        class="filter-option form-check-input filled-in"
        condition="Beverages"
        id="Beverages"
      />
      <label
        class="form-check-label small text-uppercase card-link-secondary"
        for="Beverages"
        >Beverages</label
      >
    </div>
    <div class="form-check pl-0 mb-3">
      <input
        condition="ArabianFood"
        type="checkbox"
        class="filter-option form-check-input filled-in"
        id="ArabianFood"
      />
      <label
        class="form-check-label small text-uppercase card-link-secondary"
        for="ArabianFood"
        >Arabian Food</label
      >
    </div>
    <div class="form-check pl-0 mb-3">
      <input
        condition="American"
        type="checkbox"
        class="filter-option form-check-input filled-in"
        id="American"
      />
      <label
        class="form-check-label small text-uppercase card-link-secondary"
        for="American"
        >American</label
      >
    </div>
    <div class="form-check pl-0 mb-3 pb-1">
      <input
        condition="Coffee"
        type="checkbox"
        class="filter-option form-check-input filled-in"
        id="Coffee"
      />
      <label
        class="form-check-label small text-uppercase card-link-secondary"
        for="Coffee"
        >Coffee</label
      >
    </div>
    <div class="form-check pl-0 mb-3 pb-1">
        <input
          condition="Bakery"
          type="checkbox"
          class="filter-option form-check-input filled-in"
          id="Bakery"
        />
        <label
          class="form-check-label small text-uppercase card-link-secondary"
          for="Bakery"
          >Bakery</label
        >
      </div>
      <div class="form-check pl-0 mb-3 pb-1">
        <input
          condition="Italian"
          type="checkbox"
          class="filter-option form-check-input filled-in"
          id="Italian"
        />
        <label
          class="form-check-label small text-uppercase card-link-secondary"
          for="Italian"
          >Italian</label
        >
      </div>
      <div class="form-check pl-0 mb-3 pb-1">
        <input
          condition="FastFood"
          type="checkbox"
          class="filter-option form-check-input filled-in"
          id="FastFood"
        />
        <label
          class="form-check-label small text-uppercase card-link-secondary"
          for="FastFood"
          >Fast Food</label
        >
      </div>
      <div class="form-check pl-0 mb-3 pb-1">
        <input
          condition="International"
          type="checkbox"
          class="filter-option form-check-input filled-in"
          id="International"
        />
        <label
          class="form-check-label small text-uppercase card-link-secondary"
          for="International"
          >International</label
        >
      </div>
      <div class="form-check pl-0 mb-3 pb-1">
        <input
          condition="Desserts"
          type="checkbox"
          class="filter-option form-check-input filled-in"
          id="Desserts"
        />
        <label
          class="form-check-label small text-uppercase card-link-secondary"
          for="Desserts"
          >Desserts</label
        >
      </div>
      <div class="form-check pl-0 mb-3 pb-1">
        <input
          condition="Juice"
          type="checkbox"
          class="filter-option form-check-input filled-in"
          id="Juice"
        />
        <label
          class="form-check-label small text-uppercase card-link-secondary"
          for="Juice"
          >Juice</label
        >
      </div>
  </section>
  <!-- Section: Condition -->
</div>